@keyframes timer {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes disappear {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.savanna {
  background: url("savanna_bcg.jpg") center center no-repeat;
  background-attachment: fixed;
  overflow: hidden;

  & p {
    color: #ffffff;
    text-align: center;
  }

  & .wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  & .inner {
    position: relative;
    flex: 1 0 auto;
    background: rgba($color: #000000, $alpha: 0.7);
    padding: 20px 30px;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & .button-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
    top: 20px;
    background-color: #ed4933;
  }
}

.questions {
  position: relative;
  width: 100%;
}

.case {
  position: absolute;
  width: 100%;
  transition: all 0.5s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  & .question {
    width: 100%;
    font-size: 30px;
    margin-bottom: 40px;
    // margin-bottom: 0;
    transition: all .5s;
  }

  &.enabled {
    transform: translateX(0);

    & .question {
      animation: slide-down 5s linear infinite;
    }
  }
  &.disabled {
    transform: translateX(150%);
  }
  &.answered {
    transform: translateX(-150%);
  }
}

.counter {
  position: absolute;
  // transform: translate(50%, 50%);
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  animation: disappear 1s ease-out infinite;

  &::before {
    content: "";
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    animation: timer 1s ease-out infinite;
  }
}


.lifes{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: -100px;
    

}

.life{
    width: 50px;
    height: 50px;
    background: url("heart.svg") center center no-repeat;
    background-size: 100%;
    transition: all .5s;

    &.disabled{
        filter: grayscale(.7);
    }
}